* {
margin: 0px;
padding: 0px;
}


body {
background-color: rgb(17, 75, 95);
}

h1 {
color: rgb(198, 218, 191);
}

ul {
list-style-type: none;
background-color: rgb(198, 218, 191);
overflow: hidden;
position: fixed;

}

ul li {
float: left;
}

li a {
padding: 10px;
display: block;
color: white;
text-decoration: none;
text-align: center;
}


li a:hover:not(.active) {
background-color: rgb(26, 147, 111);
}

.active {
background-color: rgb(26, 147, 111);
}

section {
position: absolute;
top: 50px;
}

div{
height: 100px;
width: 100px;
}

#black{
height: 200px;
width: 200px;
background-color: black;
position: absolute;
top: 100px;
z-index: 1;
}

#yellow{
height: 125px;
width: 125px;
background-color: yellow;
position: absolute;
top: 100px;
z-index: 2;
}

#red{
background-color: red;
position: absolute;
top: 100px;
z-index: 3;
}

#blue{
background-color: blue;
position: absolute;
top: 200px;
left: 100px;
z-index: 2;
}
#green{
background-color: green;
position: absolute;
top: 150px;
left: 50px;
z-index: 4;
}

footer {
background-color: rgb(198, 218, 191);
text-align: center;
position: fixed;
bottom: 0;
width: 100%;
}