* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: rgb(17, 75, 95);
}

h1 {
    color: rgb(198, 218, 191);
    text-align: center;
}

ul {
    list-style-type: none;
    float: left;
    width: 20%;
    background-color: rgb(198, 218, 191);
}

section {
    float: left;
    width: 80%;
}

li a {
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;

}

li:hover:not(.active) {
    background-color: rgb(26, 147, 111);
}

.active {
    background-color: rgb(26, 147, 111);
}



footer {
    background-color: rgb(198, 218, 191);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}